@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Desafio</h1>
    <p>Adicione o arquivo CNAB</p>
</div>

@model FileUploadModel
<form asp-action="UploadArquivo" enctype="multipart/form-data">

    <input asp-for="ArquivoCNAB" />

    <input type="submit" />
</form>
